<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
     
  <display-name>Hexcalc</display-name>
  <servlet>
    <servlet-name>hexcalc</servlet-name>
    <servlet-class>it.xpug.hexcalc.HexcalcServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hexcalc</servlet-name>
    <url-pattern>/hexcalc</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>hexcalc</welcome-file>
  </welcome-file-list>
</web-app>
